@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/230794/pexels-photo-230794.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}   

.container {
    height: 100px;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 80px #000000b6;
}

.container h1{
    font-weight: 400;
    color: #ffffff;
}