@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #c03350;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 600px;
    height: 550px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ca7889;
    font-size: 20px;
    border-radius: 10px;
}


.titulo span {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0;
}


fieldset input[type="text"] {
    margin-bottom: 20px;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
}

fieldset input[type="text"]:focus {
    border: 5px solid var(--primary-color);
}

fieldset input[type="text"]:hover {
    border: 5px solid var(--primary-color);
}

fieldset button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

fieldset button:hover {
    background-color: #ca7889;
    border: 2px solid var(--primary-color);
}